<form id="Login">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="firstName" placeholder="Enter first name" style="width: 40vw;">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="lastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input [(ngModel)]="login" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="login" placeholder="Enter login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="password" placeholder="Password">
    </div>
    <div div class="form-group">
        <label for="age">Age</label>
        <input [(ngModel)]="age" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="age" placeholder="Enter age">
    </div>

    <button type="submit" class="btn btn-primary" (click)="createUser()">Submit</button>
    <br>
    <br>
    <div class="alert alert-success" role="alert" *ngIf="successMessage===true">
        Form Created Successfully!
    </div>
</form>