<div *ngIf="usersList!==undefined">
  <div *ngFor="let user of (usersList | userFilterPipe)"style="padding-left: 3vw;padding-right: 3vw;">
    <div class="card border-danger mb-3" style="max-width: 96rem;">
      <div class="card-body">
        <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
        <div class="float-right">
          <button type="button" class="btn btn-danger"(click)="activate(user.id)">Activate</button>
        </div>
      </div>
    </div> 
  </div>
</div>


